<html>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title> ProjetoDH</title>

</head>
<body>
    <header class="menu-principal">
        <main>

        
        <div class="header-1">
        <div class="logo">
            <img src="/img/logo.png"/>

        </div>
        <div class="redes-sociais">
            <ul>
            <li><a href=""><img src="/img/whats.png"/></a></li>
            <li><a href=""><img src="/img/face.png"/></a></li>

              
            </ul>

        </div>
        </div>
</main>
    </header>
</body>
</html>