<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="/stylesheets/login.css" rel="stylesheet">
</head>
<body>

<form class="form" action="Resultado.html">
    <div class="card">
        <div class="cardtop">
            <img id="avatar" src="img/logo.png" alt="">
            <h2>Login</h2>
        </div>
        <div class="endereço">
            <label for="email">Email:</label>
            <input type="text" name="Email" placeholder="Digite seu email">
            <br>
            <label for="Senha">Senha:</label>
            <input type="password" name="senha" placeholder="Digite sua senha">
            <br>
            <label><input id="icone" type="checkbox" for="Lembre-me">Lembre-me:</label>
            <br>
            <div class="endereço">
                <button id="Enviar" type="submit"> Enviar</button>
                <a class="cadastro" href= "cad.html">Criar um cadastro</a>
            </div>
        </div>
    </div>

</form>

</body>
</html>