<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/promocoes.css">
    <title>Teste</title>
</head>
<body>
    <!-- Header da página Home -->
    <header>
        <div class="container">
            <div class="logo"></div>
            <img src="img/logo.png">
        </div>
   <!-- Header da página Home -->
 
   

    <!-- Slide de imagens -->
        <div class="slider"></div> 
    </header>
    <!-- Slide de imagens -->



    <!-- Seção de produtos -->
    <section class="produtos">
        <div class="item">
            <p>Produto 1</p>
        </div>
        <div class="item">
            <p>Produto 2</p>
        </div>
         <div class="item">
        <p>Produto 3</p>
        </div>
        <div class="item">
        <p>Produto 4</p>
        </div>
        <div class="item">
        <p>Produto 5</p>
        </div>
        <div class="item">
        <p>Produto 6</p>
        </div>
        <div class="item">
        <p>Produto 7</p>
        </div>
        <div class="item">
        <p>Produto 8</p>
        </div>
</section>
<!-- Seção de produtos -->


<!-- Footer da página Home -->
<footer>
    <h2>Cabeçalho</h2>
</footer>

<!-- Footer da página Home -->
</body>
</html>