<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/promocoes.css">
    <title>Teste</title>
</head>
<body>
    <!-- Header da página Home -->
    <header>
        <div class="container">
            <div class="logo"></div>
            <img src="img/logo.png">
        </div>
   <!-- Header da página Home -->



    <!-- Slide de imagens -->
        <div class="slider">
            <h1>Equipamentos de Musculação</h1>
        </div>

    </header>
    <!-- Slide de imagens -->


    <!-- Seção de produtos -->
    <section class="produtos">
        <div class="item">
            <img src="/images/bike.png" alt="bike">
        </div>
        <div class="item">
            <img src="/images/esteira.png" alt="esteira">
        </div>
         <div class="item">
            <img src="/images/eliptico.png" alt="eliptico">
        </div>
        <div class="item">
            <img src="/images/halter.png" alt="halter">
        </div>
        <div class="item">
            <img src="/images/colchonete.png" alt="colchonete">
        </div>
        <div class="item">
           <img src="/images/bola.png" alt="bola">
        </div>

</section>
<!-- Seção de produtos -->


<!-- Footer da página Home -->
<footer>
    <h2>Cabeçalho</h2>
</footer>

<!-- Footer da página Home -->
</body>
</html>