section *{
    padding:0%;
    text-align: center;
    font-family: "Open Sans";
    font-size: 50px;
}

.h1 {
    text-align: center;
    margin-top: 100px;
    
  }

.img {
    max-width: 100%;
    display: block;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;    
}

.flex > div{
    flex: 1 1 300px;
    margin: 10px;
}

.header > h1{
   text-align: center;
} 

.flex p {
    font-family: "Open Sans";
    font-size: 30px;
    background: yellow;
    border-radius: 25px;
}