html,
body {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}
main {
  margin: 0 auto;
  width: 980px;
  position: relative;
}

.logo {
  padding: 0px;
  width: 30%;
}

button.slick-prev {
  font-size: 0px;
  border: none;
  width: 50px;
  height: 50px;
  z-index: 9;
  background-color: transparent;
  position: absolute;
  background-image: url("../img/seta1.png");
  top: 35%;
  left: 14%;
}
button.slick-next {
  font-size: 0px;
  border: none;
  width: 50px;
  height: 50px;
  z-index: 9;
  background-color: transparent;
  position: absolute;
  background-image: url("../img/seta2.png");
  top: 35%;
  right: 14%;
}

.slider-list {
  width: 100% !important;
}

.slick-initialized {
  overflow: hidden;
}

.slick-dots li button {
  font-size: 0px;
  border: 5px solid white;
  width: 26px;
  height: 26px;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
}

.slick-dots {
  margin: 0 auto;
  width: 50%;
  position: absolute;
  left: 50%;
  top: 350px;
}

li.slick-active button {
  background-color: yellow;
}

.slick-dots li {
  padding-left: 10px;
  display: inline-block;
}
