<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/acessoriosIndoor.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/slick.css" />

    <title>Acessorios</title>
</head>
<body>
<%- include('partials/header') %>

<%- include('partials/slide') %>
    
<section class="produtos">
    <div class="item">
        <img class="relogio-sport" src="../images/relogio1.jpg" alt="relogio sport">
        <p>Relogio Esportivo</p>
        <span>R$199,99</span>
        <a href="/products" class="btn">Comprar</a>


    </div>
    <div class="item">
        <img class="relogio-garmin" src="../images/relogio2.jpg" alt="Relogio Garmin">
        <p>Relogio Garmin For Runner</p>
        <span>R$899,99</span>
        <a href="/products" class="btn">Comprar</a>


    </div>
    <div class="item">
        <img class="luva-boxe-everlast" src="../images/muaithai1.jpg" alt="Luva Boxe Everlast">
        <p>Luva Boxe Everlast</p>
        <span>R$139.90,00</span>
        <a href="/products" class="btn">Comprar</a>


    </div>
    <div class="item">
        <img class="luva-boxe-adidas" src="../images/boxeadidas.jpg" alt="Luva Boxe Adidas">
        <p>Luvas Boxe Adidas</p>
        <span>R$139,99</span>
        <a href="/products" class="btn">Comprar</a>


    </div>
    <div class="item">
        <img class="kit-muai-thai" src="../images/muaithairosa.jpg" alt="kit muai thai">
        <p>Kit Muai Thai</p>
        <span>R$69,99</span>
        <a href="/products" class="btn">Comprar</a>


    </div>
    <div class="item">
        <img class="kit-muai-thai-preto" src="../images/muaithaipreto.jpg" alt="kit Muai thai Preto">
        <p>Kit Muai Thai Preto</p>
        <span>R$129,99</span>
        <a href="/products" class="btn">Comprar</a>


    </div>
    <div class="item">
        <img class="corda" src="../images/corda.jpg" alt="Corda">
        <p>Corda</p>
        <span>R$19,99</span>
        <a href="/products" class="btn">Comprar</a>


    </div>
    <div class="item">
        <img class="corda-elastica" src="/images/cordaelastica.jpg" alt="Corda Elastica">
        <p>Corda elastica</p>
        <span>R$29,99</span>
        <a href="/products" class="btn">Comprar</a>


    </div>
    <div class="item">
        <img class="apito" src="/images/apito.jpg" alt="Apito">
        <p>Apito</p>
        <span>R$15,99</span>
        <a href="/products" class="btn">Comprar</a>


    </div>

</section>
<!-- Seção de produtos -->


<!-- Footer -->

<%- include('partials/footer') %>

    <!-- Footer -->



    <script type="text/javascript" src="/stylesheets/jquery.js"></script>
    <script type="text/javascript" src="/stylesheets/jquery-migrate.js"></script>
    <script type="text/javascript" src="/stylesheets/slick.min.js"></script>
    <script type="text/javascript" src="/main.js"></script>


<script type="text/javascript" src="/stylesheets/jquery.js"></script>
            <script type="text/javascript" src="/stylesheets/jquery-migrate.js"></script>
            <script type="text/javascript" src="/stylesheets/slick.min.js"></script>
            <script type="text/javascript" src="/main.js"></script>
</body>
</html>