<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/carrinho.css" rel="stylesheet">

    <title>
        Carrinho de Compras
    </title>
</head>

<body>
    <%- include('partials/header') %>

        <br>
        <h1>Carrinho</h1>

        <section class="carrinho">
            <div class="objetos">
                <img class="imagem" src="img/carrinho.png" alt="carrinho">
                <p class="desc">descrição</p>
                <p class="preço">preço</p>
            </div>
        </section>





        <%- include('partials/footer') %>
</body>

</html>