<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/compra.css" rel="stylesheet">
    <title>
        Compra relizada!
    </title>
</head>

<body>
    <!-- Header da página Home -->

    <%- include('partials/header') %>

        <!-- Header da página Home -->


        <section class="container">
            <div class="compra-efetuada">
                <img src="<%= produt.image %> ">
                <h2>Compra efetuada com sucesso!</h2>
            </div>
        </section>




        <!-- Footer -->

        <%- include('partials/footer') %>

            <!-- Footer -->



</body>

</html>