<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/indoor.css">
    <title>Sports Quarentine Indoor</title>

</head>

<body>
    <%- include('partials/header') %>

        <section class="carrossel">
            <section class="itens-carrossel">
                <div class="itens">
                    <div class="item">
                        <img class="indoor" src="/img/indoor1.png">
                    </div>
                    <div class="item">
                        <img class="indoor" src="/img/indoor2.png">
                    </div>
                    <div class="item">
                        <img class="indoor" src="/img/indoor3.png">
                    </div>

                </div>
            </section>
        </section>


        <section class="grade">
            <section class="artigos">
                <div class="produto">
                    <img class="indoor2" src="/img/indoor6.png">
                    <p>Produto</p>
                    <span>R$0.000,00</span>
                    <a href="/products" class="btn">Comprar</a>
                </div>

                <div class="produto">
                    <img class="indoor2" src="/img/indoor6.png">
                    <p>Produto</p>
                    <span>R$0.000,00</span>
                    <a href="/products" class="btn">Comprar</a>
                </div>

                <div class="produto">
                    <img class="indoor2" src="/img/indoor6.png">
                    <p>Produto</p>
                    <span>R$0.000,00</span>
                    <a href="/products" class="btn">Comprar</a>
                </div>

                <div class="produto">
                    <img class="indoor2" src="/img/indoor6.png">
                    <p>Produto</p>
                    <span>R$0.000,00</span>
                    <a href="/products" class="btn">Comprar</a>

                </div>

                <div class="produto">
                    <img class="indoor2" src="/img/indoor6.png">
                    <p>Produto</p>
                    <span>R$0.000,00</span>
                    <a href="/products" class="btn">Comprar</a>

                </div>

                <div class="produto">
                    <img class="indoor2" src="/img/indoor6.png">
                    <p>Produto</p>
                    <span>R$0.000,00</span>
                    <a href="/products" class="btn">Comprar</a>

                </div>

                <div class="produto">
                    <img class="indoor2" src="/img/indoor6.png">
                    <p>Produto</p>
                    <span>R$0.000,00</span>
                    <a href="/products" class="btn">Comprar</a>

                </div>

                <div class="produto">
                    <img class="indoor2" src="/img/indoor6.png">
                    <p>Produto</p>
                    <span>R$0.000,00</span>
                    <a href="/products" class="btn">Comprar</a>

                </div>

            </section>
        </section>

        <script type="text/javascript" src="/indoor.js"></script>

        <%- include('partials/footer') %>

</body>

</html>