<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/indoor.css">
    <title>Sports Quarentine Indoor</title>

</head>

<body>
    <%- include('partials/header') %>

        <section class="carrossel">
            <section class="itens-carrossel">
                <div class="itens">
                    <div class="item">
                        <img class="indoor" src="/img/indoor1.png">
                    </div>
                    <div class="item">
                        <img class="indoor" src="/img/indoor2.png">
                    </div>
                    <div class="item">
                        <img class="indoor" src="/img/indoor3.png">
                    </div>

                </div>
            </section>
        </section>


        <section class="grade">
            <section class="artigos">
                <div class="produto">
                    <img class="indoor2" src="/img/indoor4.png">
                </div>
                <div class="produto">
                    <img class="indoor2"src="/img/indoor5.png">
                </div>
                <div class="produto">
                    <img class="indoor2"src="/img/indoor6.png">
                </div>
                <div class="produto">
                    <img class="indoor2"src="/img/indoor7.png">
                </div>
                <div class="produto">
                    <img class="indoor2"src="/img/indoor8.png">
                </div>
                <div class="produto">
                    <img class="indoor2"src="/img/indoor9.png">
                </div>
                <div class="produto">
                    <img class="indoor2"src="/img/indoor10.png">
                </div>
                <div class="produto">
                    <img class="indoor2"src="/img/indoor11.png">
                </div>

            </section>
        </section>

        <script type="text/javascript" src="/indoor.js"></script>

        <%- include('partials/footer') %>

</body>

</html>