<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="/stylesheets/login.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

</head>
<body>
    <%- include('partials/header') %>

<form class="form">
    <div class="card">
        <div class="cardtop">
            <img id="avatar" src="img/logo.png" alt="">
            <h2 id="log">Login</h2>
        </div>
        <div class="endereço">
            <div class="user-icon">
            <i class="fas fa-user-tie"></i>
            <input class="e-s" type="text" name="Email" placeholder="Digite seu email" required>
        </div>
            <br>
            <div class="senha-icon">
            <i class="fas fa-lock"></i>
            <input class="e-s" type="password" name="senha" placeholder="Digite sua senha" required>
        </div>
            <br>
            <label id="icone"><input type="checkbox" for="Lembre-me">Lembre-me</label>
            <br>
            <div class="enviar-container">
            <button id="Enviar" type="submit"> Enviar</button>
            <a class="cadastro" href= "cadastro">Criar um cadastro</a>
            <a class="home" href="/Home"></a>
            </div>
        </div>

    </div>

</form>

</body>
</html>