<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/outdoor.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/slick.css" />
    <title>Sports Quarentine Outdoor</title>

</head>

<body>
    <%- include('partials/header') %>

        <%- include('partials/slide') %>


            <section class="grade">
                <section class="artigos">
                    <div class="produto">
                        <img class="indoor2" src="/img/indoor7.png">
                        <p>Produto</p>
                        <span>R$0.000,00</span>
                        <a href="/products" class="btn">Comprar</a>
                    </div>

                    <div class="produto">
                        <img class="indoor2" src="/img/indoor7.png">
                        <p>Produto</p>
                        <span>R$0.000,00</span>
                        <a href="/products" class="btn">Comprar</a>
                    </div>

                    <div class="produto">
                        <img class="indoor2" src="/img/indoor7.png">
                        <p>Produto</p>
                        <span>R$0.000,00</span>
                        <a href="/products" class="btn">Comprar</a>
                    </div>

                    <div class="produto">
                        <img class="indoor2" src="/img/indoor7.png">
                        <p>Produto</p>
                        <span>R$0.000,00</span>
                        <a href="/products" class="btn">Comprar</a>

                    </div>

                    <div class="produto">
                        <img class="indoor2" src="/img/indoor7.png">
                        <p>Produto</p>
                        <span>R$0.000,00</span>
                        <a href="/products" class="btn">Comprar</a>

                    </div>

                    <div class="produto">
                        <img class="indoor2" src="/img/indoor7.png">
                        <p>Produto</p>
                        <span>R$0.000,00</span>
                        <a href="/products" class="btn">Comprar</a>

                    </div>

                    <div class="produto">
                        <img class="indoor2" src="/img/indoor7.png">
                        <p>Produto</p>
                        <span>R$0.000,00</span>
                        <a href="/products" class="btn">Comprar</a>

                    </div>

                    <div class="produto">
                        <img class="indoor2" src="/img/indoor7.png">
                        <p>Produto</p>
                        <span>R$0.000,00</span>
                        <a href="/products" class="btn">Comprar</a>

                    </div>

                    <div class="produto">
                        <img class="indoor2" src="/img/indoor7.png">
                        <p>Produto</p>
                        <span>R$0.000,00</span>
                        <a href="/products" class="btn">Comprar</a>

                    </div>

                    <div class="produto">
                        <img class="indoor2" src="/img/indoor7.png">
                        <p>Produto</p>
                        <span>R$0.000,00</span>
                        <a href="/products" class="btn">Comprar</a>

                    </div>

                    <div class="produto">
                        <img class="indoor2" src="/img/indoor7.png">
                        <p>Produto</p>
                        <span>R$0.000,00</span>
                        <a href="/products" class="btn">Comprar</a>

                    </div>

                    <div class="produto">
                        <img class="indoor2" src="/img/indoor7.png">
                        <p>Produto</p>
                        <span>R$0.000,00</span>
                        <a href="/products" class="btn">Comprar</a>

                    </div>

                </section>
            </section>

            <%- include('partials/footer') %>


                <script type="text/javascript" src="/stylesheets/jquery.js"></script>
                <script type="text/javascript" src="/stylesheets/jquery-migrate.js"></script>
                <script type="text/javascript" src="/stylesheets/slick.min.js"></script>
                <script type="text/javascript" src="/main.js"></script>

</body>

</html>