<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/products.css" rel="stylesheet">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <!-- Header -->

    <%- include('partials/header') %>

        <!-- Header  -->

        <div class="box-description">
            <div class="image">
                <img src="/images/halter.png" alt="halter-azul" title="Halter">
            </div>
            <div class="description">
                <h2>Halter 3kg</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus, recusandae. Quaerat, ratione veritatis. Ad, a, eaque deleniti quam aspernatur excepturi, aperiam aliquam velit est inventore similique mollitia voluptas? Molestiae, esse.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam consequuntur, impedit perspiciatis et praesentium quibusdam voluptas nostrum voluptates recusandae dolorem blanditiis fuga soluta nemo veniam molestiae temporibus neque dolore
                    repellat?
                </p>
                <span>R$49,99</span>
                <button type="submit">Comprar</button>

            </div>
        </div>


</body>

</html>