<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>article</title>
    <link rel="stylesheet" href="/public/stylesheets/article.css">

</head>

<body>
    <article>
  <div class="xop-banner"> </div>

  <div class="site-container">
   <div class="article-container">
       <article class="article-container">
           <figure class ="article-image">
               <img src="../images/article1.png" alt="acessorios"/>    
           </figure>
    <div class="article-content">
        <a href="#" class="card-category">CUPONS ESPECIAIS</a>
        <h3 class="card-title">Aqui você encontra cupons promocionais cheios de descontos</h3>
        <p class="card-excerpt">Escolha seu produto e insira seu cupom para desconto no valor final da compra  </p>

    </div>

       </article>
       <article class="article-container">
        <figure class ="article-image">
            <img src="../images/article2.png" alt="feminino"/>    
        </figure>
 <div class="article-content">
     <a href="#" class="card-category">WOMAN STYLE</a>
     <h3 class="card-title">Todas as roupas que estão em alta nas trends esportivas</h3>
     <p class="card-excerpt"> As marcas mais quentes para você malhar com muito estilo!</p>

 </div>

    </article>
    <article class="article-container">
        <figure class ="article-image">
            <img src="../images/article3.png" alt="Esporte"/>    
        </figure>
 <div class="article-content">
     <a href="#" class="card-category">QUAL SEU ESPORTE?</a>
     <h3 class="card-title">Aqui você encontra todos os esportes!</h3>
     <p class="card-excerpt">Acessórios, roupas, equipamentos, é só escolher </p>

 </div>

    </article>
   </div>

  </div>
</article> 
</body>

</html>