<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>footer</title>
  <link rel="stylesheet" href="footer.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"

</head>

<body>
  <footer>
      <div class="footer-content">
          <h3> Quarantine Sports </h3>
          <p> Os preços, promoções, condições de pagamento, frete e produtos são válidos exclusivamente para compras realizadas via internet.
            Fotos meramente ilustrativas. quarantinesports.com Todos os direitos reservados</p>
          <ul class="socials">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>

          </ul>
        </div>
  </footer>

</body>


