<link rel="stylesheet" href="/stylesheets/header.css" />

<header class="menu-principal">
  <div class="logo">
      <img src="/img/logo.png"/>
  </div>
  <div class="redes-sociais">
      <ul>
          <li>
              <a href="#"><img src="/img/whats.png"/></a>
          </li>
          <li>
              <a href="#"><img src="/img/face.png"/></a>
          </li>
          <li>
              <a href="/login" class="btn-login">Login</a>
          </li>
      </ul>
  </div>
</header>

<div class="menu">
  <ul>
    <li><a href="/index">Home</a></li>
    <li><a href="/promocoes">Promoções</a></li>
    <li><a href="/indoor">Sports Indoor</a>
      <ul class="submenu">
        <li> <a href="/femininoIndoor">Feminino</a> </a> </li> 
        <li> <a href="/masculinoIndoor">Masculino</a> </a> </li> 
        <li> <a href="/acessoriosIndoor">Acessorios</a> </a> </li> 
    
      </ul>
      </li>
    <li><a href="/outdoor">Sports Outdoor</a>
      <ul class="submenu">
      <li> <a href="/femininoOutdoor">Feminino</a> </a> </li> 
      <li> <a href="/masculinoOutdoor">Masculino</a> </a> </li> 
      <li> <a href="/acessoriosOutdoor">Acessorios</a> </a> </li> 
  
  </ul>
  </li>
  </ul>
  <div class="busca">
    <input placeholder="Pesquisa" type="text"/>
  </div>
</div>
