<link rel="stylesheet" href="/stylesheets/header.css" />

<header class="menu-principal">
    <div class="logo">
        <img src="/img/logo.png" />
    </div>
    <div class="redes-sociais">
        <ul>
            <li>
                <a href="//www.whatsapp.com/"><img src="../img/whats.png" class="media-object  img-responsive img-thumbnail"></a>
            </li>
            <li>
                <a href="//www.facebook.com/"><img src="../img/face.png" class="media-object  img-responsive img-thumbnail"></a>
            </li>
            <li>
                <a href="/login" class="btn-login">Login</a>
            </li>
        </ul>
    </div>
</header>

<div class="menu">
    <ul>
        <li><a href="/index">Home</a></li>
        <li><a href="/destaques">Destaques</a></li>
        <li><a href="/Produtos">Produtos</a>
            <ul class="submenu">
                <li> <a href="/femininoIndoor">Feminino</a> </a>
                </li>
                <li> <a href="/masculinoIndoor">Masculino</a> </a>
                </li>
                <li> <a href="/acessoriosIndoor">Acessorios</a> </a>
                </li>

            </ul>
    </ul>
    <div class="busca">
        <input placeholder="Pesquisa" type="text" />
    </div>
</div>