<link rel="stylesheet" href="/stylesheets/header.css" />

<header class="menu-principal">
  <div class="logo">
      <img src="/img/logo.png"/>
  </div>
  <div class="redes-sociais">
      <ul>
          <li>
              <a href="#"><img src="/img/whats.png"/></a>
          </li>
          <li>
              <a href="#"><img src="/img/face.png"/></a>
          </li>
          <li>
              <a href="/login" class="btn-login">Login</a>
          </li>
      </ul>
  </div>
</header>

<div class="menu">
  <ul>
    <li><a href="/index">Home</a></li>
    <li><a href="/promocoes">Promoções</a></li>
    <li><a href="/indoor">Sports Indoor</a></li>
    <li><a href="">Sports Outdoor</a></li>
  </ul>
  <div class="busca">
    <input placeholder="Pesquisa" type="text"/>
  </div>
</div>
