
 <div class="search">
        <form action="#" method="post">
            <input type="text" name="search" id="search" placeholder="Faça sua Busca" required>
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
</div>