<div class="search">
    <form action="/produto/search">
        <input type="text" name="term" id="search" placeholder="Faça sua Busca" required>
        <button type="submit"><i class="fas fa-search"></i></button>
    </form>
</div>