<link rel="stylesheet" href="/stylesheets/section.css" />

<header>
    <h1>Section Flexbox</h1>
    <section class="flex">
        <div>
            <img src="../images/article1.png">
            <p>Descontos incríveis</p>
        
        </div>
        <div>
            <img src="../images/article2.png">
            <p>Lifestyle</p>
        
        </div>
        <div>
            <img src="../images/article3.png">
            <p>Aqui você encontra tudo que precisa!</p>
        
        </div>
  
    </section>
  </header>